.left-container{
    float: left;
    width: 300px;
    height: 100%;
    border: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.right-container {
    margin-left: 300px;
    height: 100%;
    border: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;    
    border: 1px solid #ccc;
}