.dMenuInfo a{
  color: #108ee9: 
}
html,body{
	width:100%;
	height:100%;
}

.u-navlayout {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  display: block \9;
  -webkit-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch; }
.u-navlayout-content {
  -ms-flex: 0 1 auto;
  position: relative;
  display: inline-block;
  display: block \9;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-overflow-scrolling: touch; }
  .u-navlayout-fixed-drawer .u-navlayout-content {
    margin-left: 230px; 
}

.u-navlayout-content {
  -ms-flex: 0 1 auto;
  position: relative;
  display: inline-block;
  display: block \9;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-overflow-scrolling: touch; }
  .u-navlayout-fixed-drawer .u-navlayout-content {
    margin-left: 230px; }
  .u-navlayout-container.has-scrolling-header .u-navlayout-content {
    overflow: visible; }
  @media screen and (max-width: 1024px) {
    .u-navlayout-fixed-drawer > .u-navlayout-content {
      margin-left: 0; }
    .u-navlayout-container.has-scrolling-header .u-navlayout-content {
      overflow-y: auto;
      overflow-x: hidden; } }



/*.white{color: #FFFFFF;}*/
.border-left{border-left:1px solid #3fa4ed;}
.border-right{border-right:1px solid #3fa4ed;}

/*级菜单样式*/
.sidebar{width:8px;height:1600px;background:transparent;position: absolute;z-index: 999;}
/*级菜单样式*/
.Z_TypeList{width:100%;position:absolute;display:block;z-index:99;}
.Z_TypeList .Z_MenuList{width:100%;overflow:auto;height: 100%;}
.Z_TypeList .Z_MenuList ul{list-style:none;padding:0;margin-left:18px;}
.Z_TypeList .Z_MenuList ul li{display:block;position:relative;line-height:33px;cursor:pointer;}

.Z_TypeList .Z_MenuList ul li a{color: #b8c7ce;display: inline-block;position: relative;white-space: nowrap;}

.Z_TypeList .Z_MenuList ul li a .icon{display: inline-block; width: 14px; margin: 0 16px;}
.Z_TypeList .Z_MenuList ul li a .pull-right-container{position: absolute;right: -24px;top:14px;}
.Z_TypeList .Z_MenuList ul li.curr{
	background: rgba(151,151,151,0.3);
}
.openMenu{
	font-weight:bold;
	color:#ffffff!important;
}
.Z_TypeList .Z_MenuList ul li.curr a{
	color:#ffffff;
}
/* .Z_TypeList .Z_MenuList ul li.curr a{ 
	color:#ffffff;
	cursor:pointer;
	display: inline-block;
	width: 100%;
	height: 42px;
	line-height: 42px;
} */
.Z_SubList{position:absolute;width:1010px;display: none;
		z-index:1010;/*min-height:300px;*/height: auto;
}
.subView{width:1010px;min-height:100px;height: auto;
	 border: 1px solid #dfdfdf; 
     -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
     box-shadow: 2px 2px 5px #888;
    z-index: 1010;
     background: #FAFAFA;
     overflow: hidden;
    }


.two-level{width: 1010px;height:100%;
			z-index: 1018 !important;padding: 20px 0 30px 0;}
#fLevel{height: 30px;line-height: 30px;font-size: 14px;margin-left: 30px;font-weight: bold;font-family: "Microsoft YaHei";}			
.two-level-l{width: 100%;/*float: left;*/height: auto;/*margin-bottom: 30px;*/}			
.two-level-item{width: 100%;position: relative;margin-bottom: 0 !important;}
.two-level-tit{font-family: "Microsoft YaHei";position: absolute;top:12px;left: 0px;font-size: 14px;font-weight: bold;color: #666666 !important;width: 140px;text-align: right;line-height: 20px;font-family: "Microsoft YaHei";}
.two-level-detail{font-size: 14px;width: 820px;margin-left: 170px;padding-top: 10px;overflow: hidden;}
.two-level-detail a{white-space: nowrap;color: #333333 !important;border-left: 1px solid #d9d9d9;float: left;padding: 0 15px;line-height:14px;height: 14px;margin: 6px 0;font-family: "Microsoft YaHei";display: block;}
.two-level-detail a:hover{color: #108EE9 !important;}
/*级菜单样式结束*/



header {
    background: #108ee9;
    height: 40px;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0px;
    z-index: 101;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
   /*  box-shadow: 0px 3px 6px rgb(204, 204, 204); */
}
.navbar-custom-menu{
	float: right;
	color: #FFFFFF;
}
.navbar-custom-menu a {
	color: #FFFFFF;
}
.nav{
    margin-top: -2px;
    margin-right: 15px;
}
.nav>li {
    float: left !important;
    /* height: 40px; */

}
.nav>li>a {
    height: 100%;
    display: block;
    line-height: 40px;
    padding-top: 0 !important;
    padding-bottom: 0 !important 
}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    color:#F6F6F6;
    background:#0E77CA !important;
}
.foldingpad {
    position: absolute;
    /* top: 0px;
    left: 0px; */
    width: 50px;
    height: 40px;
    line-height:40px;
    text-align: center;
    cursor: pointer;
    z-index: 200;
    color: #ffffff;
    font-size: 16px;
    padding-top:1px;
   /*  padding: 12px 15px ; */
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.logo{
	position: absolute;
   /*  top: 11px; */
    left: 76px;
    width: auto;
    height: 40px;
    line-height:40px;
    text-align: left;
    cursor: pointer;
    z-index: 200;
   
}
.logo>a{
	color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
.foldingpad.rotate {
    right: 0px;
    z-index: 1;
    left: 0px;
   /* left: 65px;*/
}

.foldingpad.rotate i {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*左侧menu*/

.page-sidebar {
    z-index: 100;
    background: #304155;
    width: 220px;
    min-width:220px;
    position: fixed;
    top:39px;
    /* min-height: 100%; */
   /*  height: 100%; */
   height: 93%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    /* background: #213049; */
    /*margin-left: -200px;*/
}

.log {
    height: 42px;
    /*background: #0B57AB;*/
    position: relative;
}

.log .title {
    color: #FFF;
    line-height: 55px;
    font-size: 18px;
    margin-left: 25px;
}

#menu .nav-li .uf, #nav-zone .nav-li .uf {
    color: #fff;
    font-size: 16px;
}

#nav-zone .nav-li > a {
    text-decoration: none;
    display: block;
    height: 56px;
    width: 100%;
    text-align: center;
}

#nav-zone .nav-li {
	list-style-type:none;
    height: 50px;
    line-height: 51px;
    border-top: 1px solid transparent;
    position: relative;
    cursor: pointer;
    /*  overflow-x: hidden; */
    border-left: 6px solid transparent;
}

#nav-zone .nav-li-small .uf {
    color: #fff;
}

ul#menu {
    /*background: #0697E8;*/
}

ul#nav-zone,
ul.nav-menu {
    padding: 0px;
    margin: 0px;
}

.nav-menu {
    height: calc(100% - 45px)
}

.nav-menu li.nav-li {
    height: 42px;
    line-height: 41px;
    border-top: 1px solid transparent;
    position: relative;
    cursor: pointer;
    /* overflow-x: hidden; */
    border-left: 3px solid transparent;
}

.nav-menu li.nav-li:hover {
    background-color: rgba(51,51,51,0.3);
    color: #fff;
    border-left-color: #108EE9;
}

li.nav-li.live-hover:hover {
    text-decoration: none;
    background-color: rgba(51,51,51,0.3);
    color: #fff;
    border-left-color: #108EE9;
}

.nav-menu li.nav-li > a {
    display: block;
    height: 56px;
    padding-left: 20px;
}

.page-small-sidebar {
    width: 55px;
    position: fixed;
    top: 0px;
    z-index: 100;
    margin-left: 0px;
    height: 100%;
    background: #0697E8;
}

.samll-logo {
    width: 40px;
    position: relative;
    left: 7px;
    top: 15px;
}

.page-small-sidebar ul#nav-zone {
    width: 100%;
    background: #0697E8;
}

.nav-title {
    color: #fff;
}

.nav-li-small {
    height: 50px;
    line-height: 50px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    text-align: center;
    position: relative;
}

.nav-li-small i {
    font-size: 18px;
    color: #A6ACB4;
}

.nav-li i.fa {
    font-size: 16px;
    color: #A6ACB4;
}

#menu a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.specli {
    background: rgba(51,51,51,0.3);
    border-left-color: #108EE9 !important;
}

/* 2016.12.2修改导航折叠标签 */
.foldingpad .uf {
    color: #fff;
}

/* 20161206 导航条新增内容 */

.text-right .u-navbar-toolbar > li > .u-badge {
    margin-top: 16px;
}

a.u-badge.w-20 .uf {
    color: #fff;
}
.u-navbar-toolbar > li > .u-badge{
	margin-right:30px;
}
/*分页颜色统一变*/
.u-pagination > .active > a, .u-pagination > .active > span, .u-pagination > .active > a:hover, .u-pagination > .active > span:hover, .u-pagination > .active > a:focus, .u-pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color:#1E7BE2;
    border-color: #1E7BE2;
}
/* 按钮组样式 */
 .u-button-group{
	box-shadow:none;
}
.u-button-group .u-button {
	padding:0;
	background-color: #1E7BE2;
    border: 1px #1E7BE2 solid;
}
.u-button-group .u-button:not(:last-child) {
    border-right: 1px solid #fff;
}
#menu{
	top:0!important;
}
.glyphicon-minus,.glyphicon-plus{
	font-size:8px;
}
.dropdown-menu a{
	color:#000;
}
.dealing li a:hover{
	font-weight:bold;
}
.draggle-line{
	width: 1px;
    background: #ccc;
    display: inline-block;   
    height: 60px;
    margin-right: -2.5px;
}