@font-face {
  font-family: 'yonyoumoon-portal';
  src:  url('fonts/yonyoumoon-portal.eot?7zdyx7');
  src:  url('fonts/yonyoumoon-portal.eot?7zdyx7#iefix') format('embedded-opentype'),
    url('fonts/yonyoumoon-portal.ttf?7zdyx7') format('truetype'),
    url('fonts/yonyoumoon-portal.woff?7zdyx7') format('woff'),
    url('fonts/yonyoumoon-portal.svg?7zdyx7#yonyoumoon-portal') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yonyoumoon-portal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
  content: "\e915";
}
.icon-angle-top:before {
  content: "\e91a";
}
.icon-angle-right:before {
  content: "\e91b";
}
.icon-angle-left:before {
  content: "\e91c";
}
.icon-angle-bottom:before {
  content: "\e919";
}
.icon-finance:before {
  content: "\e900";
}
.icon-cloud:before {
  content: "\e901";
}
.icon-allot:before {
  content: "\e902";
}
.icon-datum-system:before {
  content: "\e903";
}
.icon-datum:before {
  content: "\e904";
}
.icon-desk:before {
  content: "\e905";
}
.icon-message:before {
  content: "\e906";
}
.icon-person:before {
  content: "\e907";
}
.icon-exit:before {
  content: "\e908";
}
.icon-identify:before {
  content: "\e909";
}
.icon-check-circle:before {
  content: "\e90a";
}
.icon-cross-circle:before {
  content: "\e90b";
}
.icon-setting:before {
  content: "\e90c";
}
.icon-check:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-navicon:before {
  content: "\e90f";
}
.icon-edit:before {
  content: "\e910";
}
.icon-warning:before {
  content: "\e911";
}
.icon-angle-double-left:before {
  content: "\e912";
}
.icon-angle-double-right:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-calendar:before {
  content: "\e916";
}
.icon-trash:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
