/********************************颜色变量*********/
/***背景颜色****/
$bgColor: rgb(239, 241, 237);
$bgColor-his-font: #FFEDC4;

/****边框颜色***/
$bdColor: rgba(0,0,0,.2);
$bdColor01: rgba(0,0,0,.1);
$bdBlue: #4598FF; // 蓝色

/*******字体颜色*********/
$gray: rgba(0,0,0,.5); // 灰色字体
$gray5: rgba(0,0,0,.5); // 灰色字体
$gray7: rgba(0,0,0,.7);
$gray8: rgba(0,0,0,.8);
$gray9: rgba(0,0,0,.9);

$font-his-other: #006EFE; // 历史消息 其他人
$font-his-self: #42B475; // 历史消息 自己