
.icon-sign-sends{
	background-position: -37px -473px;
}
.icon-sign-send{
	background-position: -37px -473px;
}
.icon-send-again{
	background-position: -128px -403px;
}
.icon-clearing-bank-amendment{
	background-position: -156px -321px;
}
.icon-refund-redial{
	background-position: -154px -349px;
}
.icon-recover{
	background-position: -206px -271px;
}
.icon-query-state{
	background-position: -182px -296px;
}
.icon-previews{
	background-position: -205px -216px;
}
.icon-register{
	background-position: -205px -242px;
}
.icon-payment-account-modification {
    background-position: -206px -320px;
}
.icon-release {
    background-position: -127px -158px;
}
.icon-cancel-examine {
    background-position: -181px -94px;
}
.icon-examine {
    background-position: -156px -94px;
}
.icon-to-void {
    background-position: -127px -186px;
}
.icon-revoke-generation{
	background-position: -210px -490px;
}
.icon-revoke-register{
	background-position: -182px -490px;
}