<div class="modal fade" id="addBankNoModal" tabindex="-1" role="dialog"
	aria-labelledby="ylModalLabel" data-backdrop="static">
	<div class="modal-dialog" role="document" style="width:636px;margin:70px auto;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" onclick="closeAddPayeeBankNo()"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="bankTitle">新增收款行行号</h4>
			</div>
			<div class="modal-body">
				<div id="payeeBankNoAdd"></div>
			</div>					
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="saveAddPayeeBankNo()">确定</button>
				<button type="button" class="btn btn-primary" onclick="closeAddPayeeBankNo()">退出</button>
			</div>
		</div>
	</div>
</div> 