<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="ylModalLabel" data-backdrop="static">
	<div class="modal-dialog" role="document" style="width:1136px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="titleText">详情</h4>
			</div>
			<div class="modal-body" style="height:400px;">
				<div >
					<ul class="nav nav-tabs" role="tablist" id="detailTabs">
						<li role="presentation" class="gridtables active" ><a href="#detail" id="detailTab"
							aria-controls="home" role="tab" data-toggle="tab" >明细</a>
						</li>
						<li role="presentation" class="gridtables"><a href="#log"
							aria-controls="profile" role="tab" data-toggle="tab" >日志</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="detail">
							<table class="table-striped table table-bordered nowrap table-hover table-condensed" id="detailGridArea">  
				       	 	</table>
						</div>
						<div role="tabpanel" class="tab-pane noScrollTable" id="log">
							<table class="table-striped table table-bordered nowrap table-hover table-condensed" id="logGridArea">  
				       	 	</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">退出</button>
			</div>
		</div>
	</div>
</div> 