html {
    height: 100%;
}
.header {
    width: 100%;
    background: #fff;
    height: 50px;
}


.mainBackground {
	background:#b4dcff;
}
.backcolor {
	background:#ffffff;
}
.bodyBackgroud {
	background:#ffffff;
	min-height:450px;
	margin: 0 auto;
	padding: 10px;
}
.headerSize {
    width: 95%;
	height:45px;
	margin: 0 auto;
}
.bodySize{
	margin: 0 auto;
	padding: 20px;
}
.menuInput h {
	font-size:14px;
	color: #111111;
	display: inline-block;
	font-family: "Î¢ÈíÑÅºÚ";
	margin-top: 15px; 
	margin-left: 15px;
}

.menu-control {
    margin-top: -23px;
    width: 200px;
    margin-left: 80px;
}
.addView-control {
	width: 150px;
    height: 28px !important;
}



.tree-block {
	height:530px;
	border:1px #e5e5e5 solid;
}

.tree-block1 {
	height:450px;
	border:1px #e5e5e5 solid;
}

.menuTree {
	height: 450px;
	overflow: auto;
}

.menuTree1 {
	height: 400px;
	overflow: auto;
}

.menu-quickquery {
	background:#fff;
	height: 40px;
	padding: 10px;
}

.quickquery-Input {
	padding-right: 40px;
}
.query-img {
	margin-top: -54px;
    margin-left: 250px;
    cursor: pointer;
}

.enablecheck {
	padding-left: 15px;
}

.star-color {
	color:red;
}

.btn-head {
	height: 35px;
    padding-left: 15px;
}

.form-block2 {
	height: 450px;
	padding: 10px;
	overflow: auto;
	border:1px #e5e5e5 solid;
}

.form-block3 {
	height: 300px;
	padding: 10px;
	overflow: auto;
	border:1px #e5e5e5 solid;
}

.form-block4 {
	padding: 10px;
	overflow: auto;
	border:1px #e5e5e5 solid;
}

.change-type {
	width: 80px;
	display:block;
	height: 20px;
	border-radius:4px;
	background:#eee !important;
	margin:0 auto;
	margin-top: 2px;
	text-align:center;
	cursor: pointer;
}
