<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd 
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- dubbo 配置 -->
	<!-- <dubbo:application name="fap_dubbo_provider" logger="log4j"/> -->
	<dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" file="./dubbo-sp.cache"/>
	<dubbo:protocol name="dubbo" port="21889" serialization="hessian2"/>
	<!-- 
	<dubbo:protocol name="rmi" port="1099" />
	 --><!-- 
	 <dubbo:monitor protocol="${dubbo.web.registry}"></dubbo:monitor>  --><!--绕过注册中心直连monitor，同consumer直连 -->

	 <!-- 生产者声明-->
    <bean id="ssoPortalService" class="gov.df.fap.service.sso.SsoPortalServiceImpl"/>
    
	 
    <dubbo:service interface="gov.df.fap.api.sso.ISsoPortalService" ref="ssoPortalService" version="0.1" retries="0" timeout="35000"/>
 
</beans>