*{
	margin: 0;
	padding: 0;
}
.panel-body{
	height: 387px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
.panel-body{
	padding: 0;
}
label{
	font-weight: normal;
}
select{
	height: 25px;
	border: 1px solid #E5E5E5;
}
.user-tree,
/* .right-content{
	margin-top: 10px;
} */
.condation{
	margin-bottom: 10px;
}
.tab-content{
	margin-top: 10px;
}
.form-control{
	height: 25px;
}
.form-group{
	margin-bottom: 5px;
}

.panel-tree{
	margin-top: 20px;
}
.btn-data-authority{
	padding: 5px 12px;
}
.role-title{
	background: aliceblue;
    color: #333;
    padding: 5px;
    height: 33px;
}
.modal-content{
	border-radius: 0;
}
.modal-title{
	color: #a5a5a5;
	font-size: 14px;
}

.form-horizontal .form-group{
	margin-right: 0;
	margin-left: 0;
}
.panel-footer{
	background-color: #FFFFFF;
    border-top: none; 
}
.search-form{
	height: 40px;
    padding: 5px;
    background: #f2f9ff;
}

.user-status{
    padding-left: 20px;
}
.user-status select{
	border: 1px solid #ccc;
    height: 25px;
    width: 135px;
}
.modal-img{
	width: 16px;
	height: 16px;
}
#addRoleModal .modal-dialog{
    width: 430px;
}
ul.rightList{
	margin-left: 20px;
}
ul.rightList li{
	cursor: pointer;
}
ul.rightList span.span-icon{
	color: #a5a5a5;
}
.group-active{
	background: #0364b5;
    color: #FFFFFF;
}
.select-role-active{
	background: #3fa4ed;
    color: #FFFFFF;
    padding: 3px;
}
#user-role-info{
	margin-top: 10px;
}
#ulroleSelectedRight li{
	margin: 5px;
}
.control-label{
	height: 25px;
	line-height: 25px;
	width: 12.666667%;
}
.form-inline .spe-input{
	width:521px;
}

.display-li
{
	padding-left: 20px;
    line-height: 2em;
    font-size: 12px;
}
.display-ul
{
	padding-left: 20px;
	font-size: 14px;
}
.modal .ztree{
	padding: 0;
}
span.modal-tree-root{
	margin-left: 10px;
}
#rightModal .form-group{
	margin-bottom: 10px;
}
#detail_list{
	height: 250px;
    overflow-y: scroll;
}
.ulroleSelectedRight-text{
	padding:5px;
}
.list-icon-color{
	color:#02A2F8;
	font-size:12px;
	margin-right: 5px;
}
.panel-default {
    border-color: #E5E5E5;
}
.left-content {
    min-height: 0;
    height: 85%;
}

#addRoletree3{
	height: 280px;
    overflow-y: auto
}