html {
    height: 100%;
}

.robtn-quickquery {
	height: 50px;
	background-color:#f2f9ff;
	padding-top: 8px;
	padding-left:20px;
	padding-right:20px;
}

.robtnTree {
	border:1px #e5e5e5 solid;
}
.treeht {
    height: 450px;
	overflow: auto;
}

.main-layout {
	padding:20px;
}

.headtype {
	background-color: #efefef;
    border: 1px #efefef solid;
    height: 40px;
    line-height: 40px;
}

.headforent {
	padding-left: 16px;
    height: 30px;
    font-size: 14px;
}

.checkList {
	padding:20px;
}

.query-img {
	margin-top: -69px;
    margin-left: 289px;
    cursor: pointer;
}